<div class="col-md-6">
                    <h2>{{title}}</h2>
                    <div class="panel-body">
                        <em class="pull-right">
         
                        <h3><p class="text-right">Price: ${{price}}</p></h3>
                        <p class="text-right">Rating: {{rating}} out of 5</p>
                        </em>
                        <h4>Short Description</h4>
                        <p> &nbsp;{{shortDescription}}</p>
                        <h4> Long Description</h4>
                        <p> &nbsp;{{longDescription}}</p>
                    </div>
                </div>
</div>
